.container	{
	width: 25%;
	margin: 10vh auto 0 auto;
	box-shadow: 0px 0px 43px 17px darkred;
}

#display {
	text-align: right;
	height: 70px;
	line-height: 70px;
	padding: 16px 8px;
	font-size: 25px;
}

.buttons {
	display: grid;
	border-bottom: 1px solid black;
	border-left: 1px solid black;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons > div {
	border-top: 1px solid black;
	border-right: 1px solid black;
}

.button {
	border: 0.5px solid black;
	line-height: 100px;
	cursor: pointer;
	text-align: center;
	font-size: 25px;
}

#equal {
	background-color: #b8e994;
	color: black;
}

#equal:active {
	background-color: black;
	color: white;
	transition: 0.1s ease-in-out;
}

.button:hover {
	background-color: darkgrey;
	color: white;
	transition: 0.25s ease-in-out;
}

.button:active {
	background-color: black;
	color: white;
	transition: 0.1s ease-in-out;
}